<h1>ADMIN LOGIN</h1>
<section class="body">

<div class="search">
  <%= search_form_for @search_market do |f| %>
    <%= f.search_field :name_cont, placeholder: "Search Markets"%>
    <%= f.submit "search", class:"search-button" %>
  <% end %>

  <%= search_form_for @search_vendor do |f| %>
    <%= f.search_field :name_cont, placeholder: "Search Vendor"%>
    <%= f.submit "search", class:"search-button" %>
  <% end %>
</div>

<%= button_to "Add Market", {controller: 'markets', action: 'new'}, method: :get %>
</section>
