<h1>ADMIN LOGIN</h1>
<section class="body">

<div class="search">
  <%= form_for :market, url: {controller: 'pages', action: 'admin_market_login'}, method: :get do |f| %>
    <%= f.text_field :id, placeholder: "Enter your market number"%>
    <%= f.submit "login", class:"search-button market" %>
  <% end %>

  <%= form_for :vendor, url: {controller: 'pages', action: 'admin_vendor_login'}, method: :get do |f| %>
    <%= f.text_field :id, placeholder: "Enter your vendor number"%>
    <%= f.submit "login", class:"search-button vendor" %>
  <% end %>
</div>

<%= button_to "Add Market", {controller: 'markets', action: 'new'}, method: :get %>
</section>
