<section class="body">
  <h1>Markets#edit</h1>
  <%# render partial: 'form', locals: {controller: 'markets', action: 'update', id: @market.id}, method: :patch %>
  <%# render partial: 'form', url: { action: "update" }, method: :PATCH %>
  <%= form_for @vendor, url: {controller: 'vendors', action: 'update'}, method: :patch do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :num_of_employees %>
    <%= f.number_field :num_of_employees %>

    <%= f.label :market_id %>
    <%= f.number_field :market_id %>

    <%= f.submit %>
  <% end %>
</section>
