<section class="body">

  <div class="search search-high">
    <%= search_form_for @search_vendor do |f| %>
      <%= f.search_field :name_cont, placeholder: "Search Vendors"%>
      <%= f.submit "search", class:"search-button" %>
    <% end %>
  </div>

<% if !@vendors.empty? %>
  <% @vendors.each do |vendor| %>
    <article class="entity-display">
      <img src="../assets/Vendor-logo-white.png" alt="vendor placeholder logo" class="vendor"/>
      <div class="entity-text">
        <h3><%= link_to vendor.name, { action: 'guest_show', id: vendor.id}, method: :get %></h3>
        <h4>at <%= link_to vendor.market.name, {controller: 'markets', action: 'guest_show', id: vendor.market_id}, method: :get %></h4>
        <p>Description: <%= vendor.description %></p>
      </div>
      <div class="list-break"></div>
    </article>

  <% end %>
<% else %>
  <p class="error-message">
    Sorry! We didn't find any vendors with that search term.
  </p>
<% end %>

</section>
