<h1>Vendor Sales</h1>
<article>
  <ul>
    <% @vendor.sales.each do |sale| %>
      <h4><%= sale.id %></h4>
      <li><%= sale.amount %></li>
      <li><%= sale.purchase_time %></li>
      <li><%= sale.vendor_id %></li>
      <li><%= sale.product_id %></li>
      <%= button_to "Delete", {controller: 'sales', action: 'destroy', id: sale.id}, method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class:"submit" %>
    <% end %>
  </ul>
  <p>
    Total Sales Amount: <%= @total %>
  </p>
</article>

<%= button_to "Add test", {controller: 'sales', action: 'new'}, method: :get %>

<article>
  <%= form_for @sale, url: {controller: 'sales', action: 'create'}, method: :post do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>

    <%= f.label :purchase_time %>
    <%= f.datetime_local_field :purchase_time %>

    <%= f.label :vendor_id %>
    <%= f.number_field :vendor_id, value: @vendor.id %>

    <%= f.label :product_id %>
    <%= f.number_field :product_id %>

    <%= f.submit %>

  <% end %>
</article>
