<section class="body">

<h1>Vendor Sales</h1>
<article>
  <%= form_for @sale, url: {controller: 'sales', action: 'create'}, method: :post do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>

    <%= f.label :purchase_time %>
    <%= f.datetime_local_field :purchase_time %>

    <%= f.label :vendor_id %>
    <%= f.hidden_field :vendor_id, value: @vendor.id %>

    <%= f.label :product_id %>
    <%= f.number_field :product_id %>

    <%= f.submit %>

  <% end %>
</article>
<article>
  <ul>
    <% @vendor.sales.each do |sale| %>
      <div class="entity-text">
        <h3>Transaction ID: <%= sale.id %></h3>
        <h4><%= sale.amount %></h4>
        <li><%= sale.purchase_time %></li>
        <li><%= sale.product_id %></li>
        <li><%= sale.product.name %></li>
        <div class="entity-buttons">
          <%= button_to "Delete", {controller: 'sales', action: 'destroy', id: sale.id}, method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class:"submit" %>
        </div>
      </div>
      <div class="list-break"></div>

    <% end %>
  </ul>
  <p>
    Total Sales Amount: <%= @total %>
  </p>
</article>

</section>
