<h1>Market#index</h1>
<article>
  <ol>
    <% @markets.each do |market| %>
      <h4><%= market.id %></h4>
      <li><%= link_to market.name, {controller: 'markets', action: 'show', id: market.id}, method: :get %></li>
      <ul>
        <li><%= market.address %></li>
        <li><%= market.city %></li>
        <li><%= market.county %></li>
        <li><%= market.state %></li>
        <li><%= market.zip %></li>
      </ul>
    <% end %>
  </ol>
</article>
