<section class="stand-alone-form">
  <%= form_for @sale do |f| %>
    <ul>
      <li>
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: "$00.00" %>
      </li>
      <li>
        <%= f.label :purchase_time %>
        <%= f.datetime_local_field :purchase_time %>
      </li>
      <li>
        <%= f.label :vendor_id %>
        <%= f.number_field :vendor_id %>
      </li>
      <li>
        <%= f.label :product_id %>
        <%= f.number_field :product_id %>
      </li>
    </ul>

    <%= f.submit class:"search-button"%>

  <% end %>
</section>
